body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #012970 !important;
  font-weight: 500 !important;
}
a.active{
  color: #4154f1 !important;
}
a:hover {
  color: #4154f1 !important;
}
.i:hover{
  color: #4154f1 !important;
  cursor: pointer;
}
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
