body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #012970 !important;
  font-weight: 400 !important;
}

.tittle {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
  color: #012970;
}

/* a.active {
  color: #4154f1 !important;
} */

a:hover {
  color: #4154f1 !important;
}

.i:hover {
  color: #4154f1 !important;
  cursor: pointer;
  background-color: #d3e2ff34;
  border-radius: 2px;
}

.i {
  width: 220px;
  display: flex;
  justify-content: start;
  height: auto;
  margin: 3px;
  padding: 0 10%;

}

.G {
  color: #4154f1 !important;
  cursor: pointer;
  background-color: #d3e2ff34;
  border-radius: 3px;
}

.sidebar-open {
  min-width: 15%;
  transition: all 0.5s;
  max-height: 97vh;
  overflow-y: auto;
  z-index: 996;
  scrollbar-width: thin;
  scrollbar-color: #afb0b3 transparent;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: #fff;
  padding: 15px;
}

.sidebar {
  display: none;
}

.sidebar-open::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar-open::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.search-input {
  width: 300px;
  margin: 0 20px;
  border-radius: 3px;
  border: 1px solid #a7aebdcf;
  outline: none;
  transition: all .3s ease-in-out;
}

.search-input:hover {
  box-shadow: 0px 0px 10px rgba(206, 207, 210, 0.898);

}

.badge-number {
  position: absolute;
  inset: 4px 5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 0px !important;

}

.notifications {
  inset: 18px -35px auto auto !important;
}

.dropdown-menu .show {
  display: block;
}

.ul {
  list-style: none;
}

.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0 0 0 !important;
  border: 0 !important;
  box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%);
}

/* 
.dropdown-menu-end {
  --bs-position: end;
} */

/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

.dropdown-divider {
  color: #a5c5fe;
  height: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  /* border-top: 1px solid #a5c5fe !important; */
  opacity: 1;

}

.notifications-i {
  margin: 0 20px 0 10px;
}

.notification-item {
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  transition: 0.3s;
  cursor: auto;
}

.notification-item:hover {
  background-color: #dae5f777;
}

.dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 5px 25px;
}

.notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  font-weight: 400;
}

.notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
  margin-top: 0;
  font-weight: 400;
  /* line-height: 1.5 rem; */
}

.dropdown-header {
  text-align: center;
  font-size: 16px;
  padding: 10px 25px !important;
  font-weight: 400;
}

.dropdown-menu-arrow::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #fff;
  position: absolute;
  top: -7px;
  right: 20px;
  transform: rotate(45deg);
  border-top: 1px solid #eaedf1;
  border-left: 1px solid #eaedf1;
}

.dropdown {
  position: relative;
}

/* li {
  display: list-item;
  text-align: -webkit-match-parent;
} */
.nav-profile span {
  font-size: 14px;
  font-weight: 500;
}

.profile {
  min-width: 240px !important;
  padding-bottom: 0;
  top: 8px !important;
  /* color: #919191 !important; */
}

.dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.i-drop {
  font-size: 15px !important;
  font-weight: 400;
  color: #3d3e41;
}

.icon {
  color: #3d3e41 !important;
}

.li-hover {
  background-color: #ffffff;
  transition: all .3s ease-in-out;
}

.li-hover:hover {
  background-color: #cce0fc1b !important;
}

.k-drop {
  color: #3d3e41 !important;
}